<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>我是自定义页面</title>

  <style>
    body {
      width: 100%;
      min-height: 100%;
      background-color: #c0c0c0;
      text-align: center;
      padding-top: 100px;
    }
  </style>
</head>
<body>

<p>我是自定义页面</p>

</body>
</html>
