<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>商户软件授权信息</title>
  <meta name="format-detection" content="telephone=no, email=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
  <style>
    body{
      text-align: justify;
      margin: 10px;
    }
    h3 {
      font-size: 15px;
      margin: 5px auto;
    }
    p{
      font-size: 13px;
      margin: 5px auto;
    }
    img{
      width: 100%;
    }
    * {
      word-break: break-all;
    }
  </style>
</head>
<body>
<p class="p2"> </p>
<h3 class="p3"><span class="s2">1</span><span class="s3">、</span><span class="s2">Butter Knife <a href="http://jakewharton.github.io/butterknife/"><span class="s4">http://jakewharton.github.io/butterknife/</span></a> </span></h3>
<p class="p5"><span class="s1">Copyright 2013 Jake Wharton</span></p>
<p class="p5"><span class="s1">Licensed under the Apache License, Version 2.0 (the "License");</span></p>
<p class="p5"><span class="s1">you may not use this file except in compliance with the License.</span></p>
<p class="p5"><span class="s1">You may obtain a copy of the License at</span></p>
<p class="p7"><span class="s5">   <a href="http://www.apache.org/licenses/LICENSE-2.0"><span class="s6">http://www.apache.org/licenses/LICENSE-2.0</span></a></span></p>
<p class="p5"><span class="s1">Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.</span></p>
<p class="p5"><span class="s1">See the License for the specific language governing permissions and limitations under the License.</span></p>

<h3 class="p3"><span class="s2">2</span><span class="s3">、</span><span class="s2">Retrofit <a href="http://square.github.io/retrofit/"><span class="s7">http://square.github.io/retrofit/</span></a> </span></h3>
<p class="p5"><span class="s1">Copyright 2013 Square, Inc.</span></p>

<p class="p5"><span class="s1">Licensed under the Apache License, Version 2.0 (the "License");</span></p>
<p class="p5"><span class="s1">you may not use this file except in compliance with the License.</span></p>
<p class="p5"><span class="s1">You may obtain a copy of the License at</span></p>

<p class="p7"><span class="s5"><a href="http://www.apache.org/licenses/LICENSE-2.0"><span class="s6">http://www.apache.org/licenses/LICENSE-2.0</span></a></span></p>
<p class="p5"><span class="s1">Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.</span></p>
<p class="p5"><span class="s1">See the License for the specific language governing permissions and limitations under the License.</span></p>

<h3 class="p3"><span class="s2">3</span><span class="s3">、</span><span class="s2">Dagger <a href="http://square.github.io/dagger/"><span class="s4">http://square.github.io/dagger/</span></a> </span></h3>

<p class="p8"><span class="s8">Copyright 2012 Square, Inc.</span></p>

<p class="p8"><span class="s8">Licensed under the Apache License, Version 2.0 (the "License");</span></p>
<p class="p8"><span class="s8">you may not use this file except in compliance with the License.</span></p>
<p class="p8"><span class="s8">You may obtain a copy of the License at</span></p>

<p class="p10"><span class="s9"><a href="http://www.apache.org/licenses/LICENSE-2.0"><span class="s6">http://www.apache.org/licenses/LICENSE-2.0</span></a></span></p>

<p class="p8"><span class="s8">Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.</span></p>
<p class="p8"><span class="s8">See the License for the specific language governing permissions and limitations under the License.</span></p>
<h3 class="p3"><span class="s2">4</span><span class="s3">、</span><span class="s2">Fresco <a href="http://frescolib.org/"><span class="s7">http://frescolib.org/</span></a> </span></h3>

<table cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td class="td1" colspan="2" valign="top">
      <p class="p11"><span class="s1">BSD License </span></p>
    </td>
  </tr>

  <tr>
    <td class="td3" valign="top">
      <p class="p11"><span class="s1">For Fresco software </span></p>
    </td>
  </tr>
  <tr>
    <td class="td3" valign="top">
      <p class="p11"><span class="s1">Copyright (c) 2015-present, Facebook, Inc. All rights reserved. </span></p>
    </td>
  </tr>
  <tr>
    <td class="td3" valign="top">
      <p class="p11"><span class="s1">Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:</span></p>
    </td>
  </tr>
  <tr>
    <td class="td3" valign="top">
      <p class="p11"><span class="s1">* Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. </span></p>
    </td>
  </tr>
  <tr>
    <td class="td3" valign="top">
      <p class="p11"><span class="s1">* Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.</span></p>
    </td>
  </tr>
  <tr>
    <td class="td3" valign="top">
      <p class="p11"><span class="s1">* Neither the name Facebook nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission. </span></p>
    </td>
  </tr>
  <tr>
    <td class="td3" valign="top">
      <p class="p11"><span class="s1">THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;</span></p>
    </td>
  </tr>
  <tr>
    <td class="td3" valign="top">
      <p class="p11"><span class="s1">LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. </span></p>
    </td>
  </tr>
  </tbody>
</table>
<h3 class="p3"><span class="s2">5</span><span class="s3">、</span><span class="s2">Timber <a href="http://jakewharton.github.io/timber/"><span class="s7">http://jakewharton.github.io/timber/</span></a> </span></h3>
<p class="p8"><span class="s8">Copyright 2013 Jake Wharton</span></p>
<p class="p8"><span class="s8">Licensed under the Apache License, Version 2.0 (the "License");</span></p>
<p class="p8"><span class="s8">you may not use this file except in compliance with the License.</span></p>
<p class="p8"><span class="s8">You may obtain a copy of the License at</span></p>
<p class="p10"><span class="s9">   <a href="http://www.apache.org/licenses/LICENSE-2.0"><span class="s6">http://www.apache.org/licenses/LICENSE-2.0</span></a></span></p>
<p class="p8"><span class="s8">Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.</span></p>
<p class="p8"><span class="s8">See the License for the specific language governing permissions and limitations under the License.</span></p>
<h3 class="p14"><span class="s10">6</span><span class="s3">、</span><span class="s10">Qiniu <a href="http://developer.qiniu.com/"><span class="s11">http://developer.qiniu.com/</span></a>      </span></h3>
<table class="t1" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td class="td4" colspan="2" valign="top">
      <p class="p11"><span class="s1">The MIT License (MIT) </span></p>
    </td>
  </tr>
  <tr>
    <td class="td6" valign="top">
      <p class="p11"><span class="s1">Copyright (c) 2014 Qiniu, Ltd.&lt;<a href="mailto:sdk@qiniu.com"><span class="s12">sdk@qiniu.com</span></a>&gt; </span></p>
    </td>
  </tr>
  <tr>
    <td class="td6" valign="top">
      <p class="p11"><span class="s1">Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</span></p>
    </td>
  </tr>
  <tr>
    <td class="td6" valign="top">
      <p class="p11"><span class="s1">The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. </span></p>
    </td>
  </tr>
  <tr>

    <td class="td6" valign="top">
      <p class="p11"><span class="s1">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</span></p>
    </td>
  </tr>
  </tbody>
</table>
<h3 class="p14"><span class="s10">7</span><span class="s3">、</span><span class="s10">Rxjava  <a href="http://reactivex.io/"><span class="s11">Http://reactivex.io</span></a> </span></h3>
<p class="p15"><span class="s1">Copyright 2013 Netflix, Inc. </span></p>
<p class="p15"><span class="s1">Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at </span></p>
<p class="p16"><span class="s1"><a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a></span></p>
<p class="p2"> </p>
<p class="p17"><span class="s1">Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. </span></p>
<p class="p2"> </p>
<h3 class="p4"><span class="s1">8</span><span class="s14">、</span><span class="s1">Rxandroid  Http://reactivex.io </span></h3>
<p class="p8"><span class="s8">Copyright 2015 The RxAndroid authors</span></p>
<p class="p8"><span class="s8">Licensed under the Apache License, Version 2.0 (the "License");</span></p>
<p class="p8"><span class="s8">you may not use this file except in compliance with the License.</span></p>
<p class="p8"><span class="s8">You may obtain a copy of the License at</span></p>
<p class="p9"> </p>
<p class="p10"><span class="s9">    <a href="http://www.apache.org/licenses/LICENSE-2.0"><span class="s6">http://www.apache.org/licenses/LICENSE-2.0</span></a></span></p>
<p class="p9"> </p>
<p class="p8"><span class="s8">Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.</span></p>
<p class="p8"><span class="s8">See the License for the specific language governing permissions and limitations under the License.</span></p>
<h3 class="p3"><span class="s2">9</span><span class="s3">、</span><span class="s2">OkHttp  </span><span class="s15"> <a href="http://square.github.io/okhttp/"><span class="s16">http://square.github.io/okhttp/</span></a></span><span class="s2"> </span></h3>
<p class="p8"><span class="s8">Licensed under the Apache License, Version 2.0 (the "License");</span></p>
<p class="p8"><span class="s8">you may not use this file except in compliance with the License.</span></p>
<p class="p8"><span class="s8">You may obtain a copy of the License at</span></p>
<p class="p9"> </p>
<p class="p10"><span class="s9">   <a href="http://www.apache.org/licenses/LICENSE-2.0"><span class="s6">http://www.apache.org/licenses/LICENSE-2.0</span></a></span></p>
<p class="p9"> </p>
<p class="p8"><span class="s8">Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.</span></p>
<p class="p8"><span class="s8">See the License for the specific language governing permissions and limitations under the License.</span></p>
<h3 class="p18"><span class="s1">10</span><span class="s17">、</span><span class="s1">recycleview-animators     </span></h3>
<p class="p18"><span class="s1">     </span></p>
<p class="p8"><span class="s8">Copyright 2015 Wasabeef</span></p>
<p class="p9"> </p>
<p class="p8"><span class="s8">Licensed under the Apache License, Version 2.0 (the "License");</span></p>
<p class="p8"><span class="s8">you may not use this file except in compliance with the License.</span></p>
<p class="p8"><span class="s8">You may obtain a copy of the License at</span></p>
<p class="p9"> </p>
<p class="p10"><span class="s9">   <a href="http://www.apache.org/licenses/LICENSE-2.0"><span class="s6">http://www.apache.org/licenses/LICENSE-2.0</span></a></span></p>
<p class="p9"> </p>
<p class="p8"><span class="s8">Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.</span></p>
<p class="p8"><span class="s8">See the License for the specific language governing permissions and limitations under the License.</span></p>

</body>
</html>
